@import 'flexboxgrid.scss';
@import 'fonts.scss';

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Proxima Nova', 'Calibri', sans-serif;
  font-size: 18px;
  position: relative;
  background-color: #18171f;
}
p {
  color: #fff;
  line-height: 1.2;
}
ul {
  color: #fff;
  padding-left: 1em;
  li {
    line-height: 1.5;
  }
}
h1, h2, h3 {
  color: #fff;
  margin: 40px 0 20px;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  font-weight: bold;
}
iframe {
  display: block;
}

.ta-right {
  text-align: right;
}
.ta-left {
  text-align: left;
}
.h100 {
  height: 100%;
}

.logo {
  display: block;
  cursor: pointer;
  img {
    max-width: 100%;
    display: block;
  }
}

.btn {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
}
.button {
  border: 2px solid #fff;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  margin: 20px 20px 20px 0;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  border-radius: 4px;
  transition: background-color 300ms ease-out, color 300ms ease-out;
  &.background-white {
    background-color: #fff;
    color: #000;
    &:hover {
      color: #fff;
      background-color: transparent;
    }
  }
  &:active {
    top: 1px;
  }
  &:hover {
    color: #000;
    background-color: #fff;
  }
}

#fp-nav {
  margin-right: 20px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: block;
      a {
        background-color: rgba(0,0,0,0.2);
        display: block;
        width: 16px;
        height: 16px;
        margin: 16px;
        border-radius: 50%;
        border: 1px solid #fff;
        transition: background-color 300ms ease-out;
        position: relative;
        overflow: hidden;
        &:before {
          display: block;
          content: '';
          position: absolute;
          bottom: 100%;
          left: 0;
          background-color: #fff;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: bottom 300ms ease-out, top 300ms ease-out;
        }
        span {
          display: none;
        }
        &.active {
          &:before {
            bottom: 0;
          }
        }
      }
    }
  }
}

.header {
  padding: 10px 0;
  &--fixed {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100vw;
  }
  &__menu {
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__item {
      display: block;
      padding: 10px;
    }
    &__link {
      display: block;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      position: relative;
      font-size: 13px;
      border-bottom: 1px solid transparent; 
      &:hover {
        border-color: #ffffff;
      }
      &:active {
        top: 1px;
      }
      .active > & {
        font-weight: bold;
        border-color: #ffffff;
      }
    }
  }
}

.footer {
  padding: 20px 0;
  &--fixed {
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
  }
  &__address {
    color: #fff;
    font-style: normal;
    font-size: 0.8em;
  }
}
.scroll-icon {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  right: 25%;
  bottom: 20px;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 40px;
    border-right: 2px solid #fff;
    top: calc(100% + 10px);
    left: 30%;
  }
}

.main-page {
  &__section {
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    &__content {
      padding: 50px 0;
    }
    &--top {
      background-image: url(/images/main-page-slide-1.jpg);
    }
    &--services {
      background-image: url(/images/main-page-slide-2.jpg);
    }
    &--portfolio {
      background-image: url(/images/main-page-slide-3.jpg);
    }
    &--reviews {
      background-image: url(/images/main-page-slide-4.jpg);
    }
    &--contacts {
      background-image: url(/images/main-page-slide-5.jpg);
    }
  }
}

.header-1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  margin: 0;
  &__offset {
    padding-left: 100px;
  }
}
.header-2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
}
.with-line-left {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 110%;
    right: calc(100% + 30px);
    width: 1000%;
    height: 0;
    top: 50%;
    border-top: 3px solid #8a898d;
  }
}
.subheader {
  font-size: 24px;
  color: #a8a9ad;
  margin: 30px 0;
  text-align: left;
  &__link {
    display: block;
    text-align: left;
    color: #fff;
    &.video-icon {
      &:before {
        font-family: icomoon;
        @extend .icon-play-circle:before;
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px 0 0;
      }
    }
  }
}
.line-after {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    height: 0;
    border-top: 3px solid #a8a9ad;
  }
}

.service__item {
  display: block;
  color: #fff;
  position: relative;
  padding: 10px 10px 10px 100px;
  min-height: 100px;
  margin: 20px 0;
  font-size: 20px;
  text-decoration: none;
  &:hover {
    background-color: #18171f;
  }
  & > img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    width: 70px;
    height: auto;
  }
  & > section {
    display: table-cell;
    text-align: left;
    height: 100px;
    vertical-align: middle;
  }
}
.portfolio {
  margin: 50px 0 0;
  &__item {
    margin: 10px 0 30px;
    width: 100%;
    background: #3c424d;
    height: 130px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      left: 0;
      top: 0;
      transition: background-color 300ms ease-out;
      z-index: 4;
    }
    &:before {
      font-family: icomoon;
      @extend .icon-play-circle2:before;
      font-size: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 300ms ease-out;
      opacity: 0;
      color: #fff;
      font-weight: bold;
      z-index: 5;
    }
    &:hover {
      &:after {
        background-color: rgba(0,0,0,0.5);
      }
      &:before {
        opacity: 1;
      }
    }
    img {
      display: block;
      min-height: 100%;
      min-width: 100%;
      max-width: 130%;
      max-height: 130%;
    }
    &__duration {
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #1c2935;
      padding: 5px;
      color: #fff;
      font-size: 14px;
    }
  }
  &__header {
    font-size: 18px;
    color: #8a898d;
  }
}

.review__item {
  display: block;
  margin: 20px 0;
  padding: 0;
  img {
    display: block;
    max-height: 460px;
    max-width: 100%;
  }
}

.contacts {
  &__address {
    margin: 20px 0;
  }
  &__name {
    color: #fff;
    font-weight: 100;
    font-size: 16px;
  }
  &__value {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
  }
}

.form {
  display: inline-block;
  padding: 10px 50px 30px;
  border-radius: 6px;
  background-color: #fff;
  margin: 30px 0;
  &__header {
    color: #37363c;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
  }
  &__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 15px;
    font-size: 18px;
    margin: 20px 0;
    border: 1px solid #9e9e9e;
    border-radius: 6px;
  }
  &__submit {
    display: block;
    background-color: #5e5e5e;
    color: #fff;
    font-size: 30px;
    padding: 15px;
    border-width: 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
  }
}

.service-page {
  margin: 50px 0 0;
  &__header {
    position: relative;
    font-size: 40px;
    margin: 10px 0 40px;
    text-align: center;
    &:after {
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 80px;
      margin: 10px auto;
    }
  }
  &__price {
    color: #fff;
    font-size: 40px;
    margin: 40px 0;
  }
}
.virtual-tours {
  background-image: url(/images/bg-services-3d-tour.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  &__header {
    &:after {
      background-image: url(/images/service5.png);
    }
  }
  &__link {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 30px 0;
    img {
      display: block;
      width: 100%;
      max-height: 100%;
    }
    &__content {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 100%;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      opacity: 0;
      background-color: rgba(0,0,0,0.5);
      transition: opacity 300ms ease-out;
      :hover > & {
        opacity: 1;
      }
    }
  }
}
.videofilming {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  &__header {
    &:after {
      margin-top: -10px;
      background-image: url(/images/service1.png);
    }
  }
}
.video_editing {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  &__header {
    &:after {
      margin-top: -5px;
      background-image: url(/images/service4.png);
    }
  }
}
.radio_filming {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  &__header {
    &:after {
      margin-top: 15px;
      background-image: url(/images/service6.png);
    }
  }
}
.scenario_creation {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  &__header {
    &:after {
      margin-top: 5px;
      background-image: url(/images/service3.png);
    }
  }
}
.photographer_services {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  &__header {
    &:after {
      margin-top: 5px;
      background-image: url(/images/service2.png);
    }
  }
}
.all-videos {
  background-image: url(/images/main-page-slide-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &__video {
    height: 100%;
    iframe {
      height: 100%;
      min-height: 350px;
      margin-bottom: 30px;
    }
  }
  &__subheader {
    color: #fff;
    font-size: 20px;
  }
  &__header {
    font-size: 36px;
    margin: 10px 0;
  }
  &__description {
    color: #fff;
    font-size: 16px;
  }
  &__duration {
    color: #fff;
    margin: 10px 0;
    font-size: 24px;
    &:before {
      font-family: icomoon;
      @extend .icon-timer:before;
    }
  }
  &__operators {
    color: #fff;
    margin: 10px 0;
    font-size: 24px;
    &:before {
      font-family: icomoon;
      @extend .icon-avatar:before;
    }
  }
  &__price {
    color: #fff;
    margin: 10px 0;
    font-size: 24px;
    &:before {
      font-family: icomoon;
      @extend .icon-credit-card:before;
    }
  }
}

.portfolio-page {
  background-image: url(/images/bg-portfolio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &__header {
    font-size: 80px;
  }
  &__link {
    display: block;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
    &:before {
      display: block;
      content: '';
      padding-bottom: 100%;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      min-width: 100%;
      min-height: 100%;
      max-width: 150%;
      max-height: 150%;
      transition: transform 300ms ease-out;
      :hover > & {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
    &__name {
      position: absolute;
      left: 0; 
      bottom: 0;
      padding: 10px;
      background-color: rgba(0,0,0,0.7);
      color: #fff;
      font-size: 24px;
      text-align: center;
      display: block;
      width: 100%;
    }
  }
}

.portfolio-set {
  &__image {
    display: block;
    padding: 0;
    overflow: hidden;
    height: auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.icon-question {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: 100;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #181820;
  transform: translate(0, -50%);
  margin: 20px;
  cursor: pointer;
  &:before {
    content: '?';
  }
}

.social__links {
  &__item {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    cursor: pointer;
    transition: transform 300ms ease-out;
    font-size: 25px;
    line-height: 1em;
    text-decoration: none;
    &:hover {
      transform: scale(1.1);
    }
    &:before {
      font-family: icomoon;
    }
    &--vk:before {
      @extend .icon-vk:before;
    }
    &--instagram:before {
      @extend .icon-instagram:before
    }
    &--youtube:before {
      @extend .icon-youtube-play:before;
    }
  }
}

.grid-sizer, .grid-item { 
  width: calc(33.333% - 7px);
  margin-bottom: 10px;
}
.grid-item--width2 {
  width: calc(66.666% - 7px);
  margin-bottom: 10px;
}

@media only screen and (min-width: $sm) {
  .header-1 {
    font-size: 110px;
  }
  .header-2 {
    font-size: 70px;
  }
  .header--fixed, .footer--fixed {
    background-color: transparent;
  }
  body {
    font-size: 22px;
  }
  .service-page {
    &__header {
      padding-left: 100px;
      text-align: left;
      &:after {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}

@media only screen and (min-width: $md) {
  .header-1 {
    font-size: 140px;
  }
  .header-2 {
    font-size: 80px;
  }
  .subheader {
    font-size: 35px;
  }
  .header {
    padding: 40px 0;
  }
  .footer {
    padding: 20px 0;
  }
  .virtual-tours {
    &__header {
      font-size: 70px;
    }
  }
  .scenario-creation {
    &__header {
      font-size: 70px;
    }
  }
  .header {
    &__menu {
      &__link {
        font-size: 15px;
      }
    }
  }
  .form {
    &__header {
      white-space: nowrap;
    }
  }
  body {
    font-size: 20px;
  }
}

@media only screen and (min-width: $lg) {
  .header-1 {
    font-size: 160px;
  }
  .header-2 {
    font-size: 90px;
  }
  .subheader {
    font-size: 35px;
  }
  .header {
    &__menu {
      &__link {
        font-size: 20px;
      }
    }
  }
  // .portfolio-page {
  //   &__link {
  //     max-width: 20%;
  //   }
  // }
}