@charset "UTF-8";
/*
 *
 * Uncomment and set these variables to customize the grid.
 *
 * :root {
 *  --gutter-width: 1rem;
 *  --outer-margin: 2rem;
 *  --gutter-compensation: calc( var( --gutter-width / 2 ) * -1 );
 *  --half-gutter-width: calc( var( --gutter-width / 2 ) );
 *  --screen-xs-min: 30em;
 *  --screen-sm-min: 48em;
 *  --screen-md-min: 62em;
 *  --screen-lg-min: 75em;
 *  --container-sm: calc( 45rem + var( --gutter-width ) );
 *  --container-md: calc( 60rem + var( --gutter-width ) );
 *  --container-lg: calc( 70rem + var( --gutter-width ) );
 * }
 *
*/
.hidden {
  display: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  box-sizing: border-box;
  width: 90%;
  max-width: 665px;
  min-width: 320px; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  flex-basis: 8.333%;
  max-width: 8.333%; }

.col-xs-2 {
  flex-basis: 16.667%;
  max-width: 16.667%; }

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  flex-basis: 33.333%;
  max-width: 33.333%; }

.col-xs-5 {
  flex-basis: 41.667%;
  max-width: 41.667%; }

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  flex-basis: 58.333%;
  max-width: 58.333%; }

.col-xs-8 {
  flex-basis: 66.667%;
  max-width: 66.667%; }

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  flex-basis: 83.333%;
  max-width: 83.333%; }

.col-xs-11 {
  flex-basis: 91.667%;
  max-width: 91.667%; }

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-1 {
  margin-left: 8.333%; }

.col-xs-offset-2 {
  margin-left: 16.667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.333%; }

.col-xs-offset-5 {
  margin-left: 41.667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.333%; }

.col-xs-offset-8 {
  margin-left: 66.667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.333%; }

.col-xs-offset-11 {
  margin-left: 91.667%; }

.start-xs {
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  align-items: flex-end; }

.around-xs {
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  order: 1; }

@media only screen and (min-width: 700px) {
  .container {
    width: 90%;
    max-width: 997.5px; }
  .visible-sm {
    display: block; }
  .hidden-sm {
    display: none; }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-sm-2 {
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-sm-5 {
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-sm-8 {
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-sm-11 {
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-1 {
    margin-left: 8.333%; }
  .col-sm-offset-2 {
    margin-left: 16.667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.333%; }
  .col-sm-offset-5 {
    margin-left: 41.667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.333%; }
  .col-sm-offset-8 {
    margin-left: 66.667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.333%; }
  .col-sm-offset-11 {
    margin-left: 91.667%; }
  .start-sm {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    align-items: flex-end; }
  .around-sm {
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    order: 1; } }

@media only screen and (min-width: 1050px) {
  .container {
    width: 90%;
    max-width: 1235px; }
  .visible-md {
    display: block; }
  .hidden-md {
    display: none; }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-md-2 {
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-md-5 {
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-md-8 {
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-md-11 {
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-1 {
    margin-left: 8.333%; }
  .col-md-offset-2 {
    margin-left: 16.667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.333%; }
  .col-md-offset-5 {
    margin-left: 41.667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.333%; }
  .col-md-offset-8 {
    margin-left: 66.667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.333%; }
  .col-md-offset-11 {
    margin-left: 91.667%; }
  .start-md {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    align-items: flex-end; }
  .around-md {
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 2;
    order: 1; } }

@media only screen and (min-width: 1300px) {
  .container {
    width: 90%;
    max-width: 1600px; }
  .visible-lg {
    display: block; }
  .hidden-lg {
    display: none; }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-lg {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-lg-2 {
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-lg-5 {
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-lg-8 {
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-lg-11 {
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-1 {
    margin-left: 8.333%; }
  .col-lg-offset-2 {
    margin-left: 16.667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.333%; }
  .col-lg-offset-5 {
    margin-left: 41.667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.333%; }
  .col-lg-offset-8 {
    margin-left: 66.667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.333%; }
  .col-lg-offset-11 {
    margin-left: 91.667%; }
  .start-lg {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align: start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-box-align: center;
    align-items: center; }
  .bottom-lg {
    -webkit-box-align: end;
    align-items: flex-end; }
  .around-lg {
    justify-content: space-around; }
  .between-lg {
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    order: 1; } }

/** Generated by FG **/
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima/Proxima Nova Regular.eot");
  src: local("☺"), url("/fonts/proxima/Proxima Nova Regular.woff") format("woff"), url("/fonts/proxima/Proxima Nova Regular.ttf") format("truetype"), url("/fonts/proxima/Proxima Nova Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima-bold/Proxima Nova Black.eot");
  src: local("☺"), url("/fonts/proxima-bold/Proxima Nova Black.woff") format("woff"), url("/fonts/proxima-bold/Proxima Nova Black.ttf") format("truetype"), url("/fonts/proxima-bold/Proxima Nova Black.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima-light/Proxima Nova Condensed Light.eot");
  src: local("☺"), url("/fonts/proxima-light/Proxima Nova Condensed Light.woff") format("woff"), url("/fonts/proxima-light/Proxima Nova Condensed Light.ttf") format("truetype"), url("/fonts/proxima-light/Proxima Nova Condensed Light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima-italic/Proxima Nova Condensed Regular Italic.eot");
  src: local("☺"), url("/fonts/proxima-italic/Proxima Nova Condensed Regular Italic.woff") format("woff"), url("/fonts/proxima-italic/Proxima Nova Condensed Regular Italic.ttf") format("truetype"), url("/fonts/proxima-italic/Proxima Nova Condensed Regular Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?544nlg");
  src: url("/fonts/icomoon/icomoon.eot?544nlg#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?544nlg") format("truetype"), url("/fonts/icomoon/icomoon.woff?544nlg") format("woff"), url("/fonts/icomoon/icomoon.svg?544nlg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-profile-female:before {
  content: "\e900"; }

.icon-female:before {
  content: "\e900"; }

.icon-woman:before {
  content: "\e900"; }

.icon-user:before {
  content: "\e900"; }

.icon-profile:before {
  content: "\e900"; }

.icon-avatar:before, .all-videos__operators:before {
  content: "\e900"; }

.icon-hourglass:before {
  content: "\e901"; }

.icon-timer:before, .all-videos__duration:before {
  content: "\e901"; }

.icon-loading:before {
  content: "\e901"; }

.icon-stopwatch:before {
  content: "\e902"; }

.icon-play-circle:before, .subheader__link.video-icon:before {
  content: "\e903"; }

.icon-youtube-play:before, .social__links__item--youtube:before {
  content: "\e904"; }

.icon-vk:before, .social__links__item--vk:before {
  content: "\e905"; }

.icon-credit-card:before, .all-videos__price:before {
  content: "\e90d"; }

.icon-instagram:before, .social__links__item--instagram:before {
  content: "\e906"; }

.icon-brand:before {
  content: "\e906"; }

.icon-social:before {
  content: "\e906"; }

.icon-arrow-right:before {
  content: "\e907"; }

.icon-right:before {
  content: "\e907"; }

.icon-next:before {
  content: "\e907"; }

.icon-arrow-left:before {
  content: "\e908"; }

.icon-left:before {
  content: "\e908"; }

.icon-previous:before {
  content: "\e908"; }

.icon-arrow-up:before {
  content: "\e909"; }

.icon-up:before {
  content: "\e909"; }

.icon-upload:before {
  content: "\e909"; }

.icon-top:before {
  content: "\e909"; }

.icon-arrow-down:before {
  content: "\e90a"; }

.icon-down:before {
  content: "\e90a"; }

.icon-download:before {
  content: "\e90a"; }

.icon-bottom:before {
  content: "\e90a"; }

.icon-zoom-in:before {
  content: "\e90b"; }

.icon-play-circle2:before, .portfolio__item:before {
  content: "\e90c"; }

* {
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Proxima Nova', 'Calibri', sans-serif;
  font-size: 18px;
  position: relative;
  background-color: #18171f; }

p {
  color: #fff;
  line-height: 1.2; }

ul {
  color: #fff;
  padding-left: 1em; }
  ul li {
    line-height: 1.5; }

h1, h2, h3 {
  color: #fff;
  margin: 40px 0 20px; }

h1 {
  font-size: 52px;
  font-weight: bold; }

h2 {
  font-size: 40px;
  font-weight: bold; }

h3 {
  font-size: 36px;
  font-weight: bold; }

iframe {
  display: block; }

.ta-right {
  text-align: right; }

.ta-left {
  text-align: left; }

.h100 {
  height: 100%; }

.logo {
  display: block;
  cursor: pointer; }
  .logo img {
    max-width: 100%;
    display: block; }

.btn {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  font-size: 12px; }

.button {
  border: 2px solid #fff;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  margin: 20px 20px 20px 0;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  border-radius: 4px;
  transition: background-color 300ms ease-out, color 300ms ease-out; }
  .button.background-white {
    background-color: #fff;
    color: #000; }
    .button.background-white:hover {
      color: #fff;
      background-color: transparent; }
  .button:active {
    top: 1px; }
  .button:hover {
    color: #000;
    background-color: #fff; }

#fp-nav {
  margin-right: 20px; }
  #fp-nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    #fp-nav ul li {
      display: block; }
      #fp-nav ul li a {
        background-color: rgba(0, 0, 0, 0.2);
        display: block;
        width: 16px;
        height: 16px;
        margin: 16px;
        border-radius: 50%;
        border: 1px solid #fff;
        transition: background-color 300ms ease-out;
        position: relative;
        overflow: hidden; }
        #fp-nav ul li a:before {
          display: block;
          content: '';
          position: absolute;
          bottom: 100%;
          left: 0;
          background-color: #fff;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: bottom 300ms ease-out, top 300ms ease-out; }
        #fp-nav ul li a span {
          display: none; }
        #fp-nav ul li a.active:before {
          bottom: 0; }

.header {
  padding: 10px 0; }
  .header--fixed {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100vw; }
  .header__menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center; }
  .header__menu__item {
    display: block;
    padding: 10px; }
  .header__menu__link {
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 13px;
    border-bottom: 1px solid transparent; }
    .header__menu__link:hover {
      border-color: #ffffff; }
    .header__menu__link:active {
      top: 1px; }
    .active > .header__menu__link {
      font-weight: bold;
      border-color: #ffffff; }

.footer {
  padding: 20px 0; }
  .footer--fixed {
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
  .footer__address {
    color: #fff;
    font-style: normal;
    font-size: 0.8em; }

.scroll-icon {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  right: 25%;
  bottom: 20px; }
  .scroll-icon:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 40px;
    border-right: 2px solid #fff;
    top: calc(100% + 10px);
    left: 30%; }

.main-page__section {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative; }
  .main-page__section__content {
    padding: 50px 0; }
  .main-page__section--top {
    background-image: url(/images/main-page-slide-1.jpg); }
  .main-page__section--services {
    background-image: url(/images/main-page-slide-2.jpg); }
  .main-page__section--portfolio {
    background-image: url(/images/main-page-slide-3.jpg); }
  .main-page__section--reviews {
    background-image: url(/images/main-page-slide-4.jpg); }
  .main-page__section--contacts {
    background-image: url(/images/main-page-slide-5.jpg); }

.header-1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  margin: 0; }
  .header-1__offset {
    padding-left: 100px; }

.header-2 {
  color: #fff;
  font-size: 40px;
  margin: 0; }

.with-line-left {
  position: relative; }
  .with-line-left:before {
    content: '';
    display: block;
    position: absolute;
    right: 110%;
    right: calc(100% + 30px);
    width: 1000%;
    height: 0;
    top: 50%;
    border-top: 3px solid #8a898d; }

.subheader {
  font-size: 24px;
  color: #a8a9ad;
  margin: 30px 0;
  text-align: left; }
  .subheader__link {
    display: block;
    text-align: left;
    color: #fff; }
    .subheader__link.video-icon:before {
      font-family: icomoon;
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px 0 0; }

.line-after {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }
  .line-after:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    height: 0;
    border-top: 3px solid #a8a9ad; }

.service__item {
  display: block;
  color: #fff;
  position: relative;
  padding: 10px 10px 10px 100px;
  min-height: 100px;
  margin: 20px 0;
  font-size: 20px;
  text-decoration: none; }
  .service__item:hover {
    background-color: #18171f; }
  .service__item > img {
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 70px;
    height: auto; }
  .service__item > section {
    display: table-cell;
    text-align: left;
    height: 100px;
    vertical-align: middle; }

.portfolio {
  margin: 50px 0 0; }
  .portfolio__item {
    margin: 10px 0 30px;
    width: 100%;
    background: #3c424d;
    height: 130px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: hidden; }
    .portfolio__item:after {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      left: 0;
      top: 0;
      transition: background-color 300ms ease-out;
      z-index: 4; }
    .portfolio__item:before {
      font-family: icomoon;
      font-size: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      transition: opacity 300ms ease-out;
      opacity: 0;
      color: #fff;
      font-weight: bold;
      z-index: 5; }
    .portfolio__item:hover:after {
      background-color: rgba(0, 0, 0, 0.5); }
    .portfolio__item:hover:before {
      opacity: 1; }
    .portfolio__item img {
      display: block;
      min-height: 100%;
      min-width: 100%;
      max-width: 130%;
      max-height: 130%; }
    .portfolio__item__duration {
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #1c2935;
      padding: 5px;
      color: #fff;
      font-size: 14px; }
  .portfolio__header {
    font-size: 18px;
    color: #8a898d; }

.review__item {
  display: block;
  margin: 20px 0;
  padding: 0; }
  .review__item img {
    display: block;
    max-height: 460px;
    max-width: 100%; }

.contacts__address {
  margin: 20px 0; }

.contacts__name {
  color: #fff;
  font-weight: 100;
  font-size: 16px; }

.contacts__value {
  font-weight: bold;
  color: #fff;
  font-size: 20px; }

.form {
  display: inline-block;
  padding: 10px 50px 30px;
  border-radius: 6px;
  background-color: #fff;
  margin: 30px 0; }
  .form__header {
    color: #37363c;
    font-size: 33px;
    text-align: center;
    font-weight: bold; }
  .form__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 15px;
    font-size: 18px;
    margin: 20px 0;
    border: 1px solid #9e9e9e;
    border-radius: 6px; }
  .form__submit {
    display: block;
    background-color: #5e5e5e;
    color: #fff;
    font-size: 30px;
    padding: 15px;
    border-width: 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 6px;
    cursor: pointer;
    width: 100%; }

.service-page {
  margin: 50px 0 0; }
  .service-page__header {
    position: relative;
    font-size: 40px;
    margin: 10px 0 40px;
    text-align: center; }
    .service-page__header:after {
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 80px;
      margin: 10px auto; }
  .service-page__price {
    color: #fff;
    font-size: 40px;
    margin: 40px 0; }

.virtual-tours {
  background-image: url(/images/bg-services-3d-tour.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }
  .virtual-tours__header:after {
    background-image: url(/images/service5.png); }
  .virtual-tours__link {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 30px 0; }
    .virtual-tours__link img {
      display: block;
      width: 100%;
      max-height: 100%; }
    .virtual-tours__link__content {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 100%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 300ms ease-out; }
      :hover > .virtual-tours__link__content {
        opacity: 1; }

.videofilming {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }
  .videofilming__header:after {
    margin-top: -10px;
    background-image: url(/images/service1.png); }

.video_editing {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }
  .video_editing__header:after {
    margin-top: -5px;
    background-image: url(/images/service4.png); }

.radio_filming {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }
  .radio_filming__header:after {
    margin-top: 15px;
    background-image: url(/images/service6.png); }

.scenario_creation {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }
  .scenario_creation__header:after {
    margin-top: 5px;
    background-image: url(/images/service3.png); }

.photographer_services {
  background-image: url(/images/bg-services-videofilming.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }
  .photographer_services__header:after {
    margin-top: 5px;
    background-image: url(/images/service2.png); }

.all-videos {
  background-image: url(/images/main-page-slide-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .all-videos__video {
    height: 100%; }
    .all-videos__video iframe {
      height: 100%;
      min-height: 350px;
      margin-bottom: 30px; }
  .all-videos__subheader {
    color: #fff;
    font-size: 20px; }
  .all-videos__header {
    font-size: 36px;
    margin: 10px 0; }
  .all-videos__description {
    color: #fff;
    font-size: 16px; }
  .all-videos__duration {
    color: #fff;
    margin: 10px 0;
    font-size: 24px; }
    .all-videos__duration:before {
      font-family: icomoon; }
  .all-videos__operators {
    color: #fff;
    margin: 10px 0;
    font-size: 24px; }
    .all-videos__operators:before {
      font-family: icomoon; }
  .all-videos__price {
    color: #fff;
    margin: 10px 0;
    font-size: 24px; }
    .all-videos__price:before {
      font-family: icomoon; }

.portfolio-page {
  background-image: url(/images/bg-portfolio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .portfolio-page__header {
    font-size: 80px; }
  .portfolio-page__link {
    display: block;
    position: relative;
    margin: 30px auto;
    overflow: hidden; }
    .portfolio-page__link:before {
      display: block;
      content: '';
      padding-bottom: 100%; }
    .portfolio-page__link img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: block;
      min-width: 100%;
      min-height: 100%;
      max-width: 150%;
      max-height: 150%;
      transition: -webkit-transform 300ms ease-out;
      transition: transform 300ms ease-out;
      transition: transform 300ms ease-out, -webkit-transform 300ms ease-out; }
      :hover > .portfolio-page__link img {
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        transform: translate(-50%, -50%) scale(1.1); }
    .portfolio-page__link__name {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      font-size: 24px;
      text-align: center;
      display: block;
      width: 100%; }

.portfolio-set__image {
  display: block;
  padding: 0;
  overflow: hidden;
  height: auto; }
  .portfolio-set__image img {
    display: block;
    width: 100%;
    height: auto; }

.icon-question {
  display: inline-block;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: 100;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #181820;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 20px;
  cursor: pointer; }
  .icon-question:before {
    content: '?'; }

.social__links__item {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  font-size: 25px;
  line-height: 1em;
  text-decoration: none; }
  .social__links__item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .social__links__item:before {
    font-family: icomoon; }

.grid-sizer, .grid-item {
  width: calc(33.333% - 7px);
  margin-bottom: 10px; }

.grid-item--width2 {
  width: calc(66.666% - 7px);
  margin-bottom: 10px; }

@media only screen and (min-width: 700px) {
  .header-1 {
    font-size: 110px; }
  .header-2 {
    font-size: 70px; }
  .header--fixed, .footer--fixed {
    background-color: transparent; }
  body {
    font-size: 22px; }
  .service-page__header {
    padding-left: 100px;
    text-align: left; }
    .service-page__header:after {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); } }

@media only screen and (min-width: 1050px) {
  .header-1 {
    font-size: 140px; }
  .header-2 {
    font-size: 80px; }
  .subheader {
    font-size: 35px; }
  .header {
    padding: 40px 0; }
  .footer {
    padding: 20px 0; }
  .virtual-tours__header {
    font-size: 70px; }
  .scenario-creation__header {
    font-size: 70px; }
  .header__menu__link {
    font-size: 15px; }
  .form__header {
    white-space: nowrap; }
  body {
    font-size: 20px; } }

@media only screen and (min-width: 1300px) {
  .header-1 {
    font-size: 160px; }
  .header-2 {
    font-size: 90px; }
  .subheader {
    font-size: 35px; }
  .header__menu__link {
    font-size: 20px; } }
