== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'portfolio-set', title: 'Портфолио репортажной съемки' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
  
  main
    .container
      .row
        .col-xs-12.col-lg-10
          h1.header-2 Портфолио фотосъемок
      .grid
        .grid-sizer
        ruby:
          base_dir = Pathname.new('./dest/')
          page_dir = Pathname.new('reportage')
        - Dir.glob(base_dir.join('images/photographer/', page_dir, '**/*.{jpg,png,gif}')).each_with_index do |img, i|
          - column2 = i % 5 == 0
          - real_path = Pathname.new(img).relative_path_from(base_dir)
          div class=(['grid-item', (column2 ? 'grid-item--width2' : nil)].compact.join(' '))
            a.portfolio-set__image.fancybox data-fancybox="portfolio-set" href="#{real_path}"
              img src="#{real_path}"


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)