== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'virtual-tours', title: 'Съемка виртуальных 3D туров' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do

  main.service-page
    .container
      .row.center-xs
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          h2.header-2.with-line-left.virtual-tours__header.service-page__header Виртуальные 3D туры
          p Виртуальный 3D тур - это отличная возможность вовлечь посетителя вашего сайта в управляемую экскурсию по объекту.  
          p В отличие от плоской фотографии виртуальные туры и сферические панорамы создают эффект присутствия. 
          p Ваш клиент имеет возможность самостоятельно осмотреться, освоиться, разглядеть то, что интересно именно ему. 
          p Наличие 3D-тура повышает продажи и конверсию сайта. Уже при просмотре клиенту хочется побывать «там» вживую. 
          p 3D тур пробуждает в клиенте доверие к фирме и, как следствие, увеличивает количество обращений.
          h3 Примеры созданных 3D-туров
          .row
            .col-xs-12.col-md-4
              .virtual-tours__link href="#"
                img src="images/services-3d-tour-item1.png"
                .virtual-tours__link__content
                  p
                    strong Название места
                  p Описание и название появляются при наведении мышкой на блок
                  
            .col-xs-12.col-md-4
              .virtual-tours__link href="#"
                img src="images/services-3d-tour-item2.png"
                .virtual-tours__link__content
                  p
                    strong Название места
                  p Описание и название появляются при наведении мышкой на блок

            .col-xs-12.col-md-4
              .virtual-tours__link href="#"
                img src="images/services-3d-tour-item3.png"
                .virtual-tours__link__content
                  p
                    strong Название места
                  p Описание и название появляются при наведении мышкой на блок
          h3 Кому подходит виртуальный тур?
          ul
            li Строительному бизнесу
            li Ресторанному бизнесу (3D-панорамы кафе, ресторана, бара, ночного клуба, каляной, чайхоны)
            li Гостиничному бизнесу (3Д тур для гостиниц, пансионатов и хостел)
            li Торговым центрам (виртуальные туры по торгово-развлекательным центрам и магазинам)
            li Автосалонам
            li Туристическому бизнесу (3D тур для индустрии развлечений и туризма)
            li Продаже недвижимости
            li Дизайнерам (3Д панорамы дизайна интерьеров и мебельных салонов)
            li Ночным клубам и РЦ
            li Торговым центрам
            li Музеям и выставкам
          h3 Преимущества 3D тура
          ul
            li Поддерживаются всеми мобильными платформами, 
            li Посмотреть 3D-тур можно, как с компьютера или ноутбука, так и с планшета, телефона. 
            li Во время просмотра виртуального тура создается WOW-эффект
            li Панорама передает, весь объем пространства с обзором в 360 °
            li Ваш зритель полностью погружен в презентацию и двигаясь по стрелкам внимательно просматривает объект;
            li Применяя VR-очки для демонстрации виртуального тура Ваш зритель останется под глубоким впечатлением от просмотра и оценит современный подход к делу.
            li Доступность просмотра объекта 24 часа в сутки;
            li Самый лучший способ создать у клиента эффект присутствия;
            li Выделение Вашей презентации, e-mail письма или сайта среди конкурентов;
          section.service-page__price от 5 000 руб
          div
            a.button.background-white.fancybox href="#callback" Расчитать стоимость создания 3D тура
            a.button.fancybox href="#" Заказать услугу


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)