footer class=(['footer', locals[:fullpage] ? 'footer--fixed' : nil])
  .container
    .row.middle-xs
      .col-xs-7.col-md-2
        address.footer__address.footer__address--phone +7 922 022-96-22
      .col-xs-7.col-md-2
        address.footer__address.footer__address--phone info@mmvideostudio.ru
      .col-xs-7.col-md-6
      .col-xs-7.col-md-2.last-xs
        section.social__links
          a.social__links__item.social__links__item--vk href="https://vk.com/mmstudio_videopiar" target="_blank"
          a.social__links__item.social__links__item--instagram href="https://www.instagram.com/mm_studio_video/" target="_blank"
          a.social__links__item.social__links__item--youtube href="https://www.youtube.com/channel/UCFUr1g6LcFEYGjUEt9VDgvg" target="_blank"
  section.scroll-icon Scroll

.hidden
  #callback
    form.form
      h2.form__header Оставить заявку
      input.form__input type="text" placeholder="Ваше имя" required="true" name="name"
      input.form__input type="tel" placeholder="Ваш телефон" required="true" name="phone"
      input.form__submit type="submit" value="Отправить"


