header class=(['header', locals[:fullpage] ? 'header--fixed' : nil])
  .container
    .row.middle-xs
      .col-xs-6.col-sm-2.col-md-3
        a.logo href="/"
          img src="/images/logo.png"
      .col-xs-12.col-sm-8.col-md-6.hidden.visible-sm
        nav.header__menu
          ul.header__menu__list#menu
            li.header__menu__item data-menuanchor='about-us'
              a.header__menu__link href="/#about-us" О&nbsp;нас
            li.header__menu__item data-menuanchor='services'
              a.header__menu__link href="/#services" Услуги
            li.header__menu__item data-menuanchor='portfolio'
              a.header__menu__link href="/#portfolio" Портфолио
            li.header__menu__item data-menuanchor='reviews'
              a.header__menu__link href="/#reviews" Отзывы
            li.header__menu__item data-menuanchor='contacts'
              a.header__menu__link href="/#contacts" Контакты

      .col-xs-6.col-sm-2.col-md-3.last-md
        .ta-right
          a.btn.fancybox href="#callback" Оставить заявку