doctype html
/![if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"
/![if IE 7] <html class="no-js lt-ie9 lt-ie8"
/![if IE 8] <html class="no-js lt-ie9"
/! [if gt IE 8]><!
html.no-js
  /! <![endif]
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    title = locals[:title] || 'MMStudio Екатеринбург'
    meta content="" name="description"
    meta content="" name="keywords"
    meta content="width=device-width, initial-scale=1" name="viewport"
    
    script src="/lib/jquery-3.2.1.min.js"

    / link href="/css/slick.css" rel="stylesheet"
    / link href="/css/slick-theme.css" rel="stylesheet"
    / script src="/js/slick.min.js"
    
    link href="/lib/fullPage/dist/jquery.fullpage.min.css" rel="stylesheet"
    script src="/lib/fullPage/vendors/scrolloverflow.min.js"
    script src="/lib/fullPage/dist/jquery.fullpage.min.js"
    
    script src="/lib/masonry.pkgd.min.js"
    
    script src="/lib/fancybox-master/dist/jquery.fancybox.min.js"
    link href="/lib/fancybox-master/dist/jquery.fancybox.css" rel="stylesheet"

    link href="/lib/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet"
    link href="/lib/tooltipster/dist/css/tooltipster.bundle.min.css" rel="stylesheet"
    script src="/lib/tooltipster/dist/js/tooltipster.bundle.min.js"
    
    link href="/css/main.css" rel="stylesheet"
    script src="/js/main.js"

    base href="/"

    link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"
    link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"
    link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"
    link rel="manifest" href="/manifest.json"
    link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"
    meta name="theme-color" content="#ffffff"
  body class=locals[:body_class]
    == yield
