== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'all-videos', title: 'Портфолио видеосъемок' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self, {fullpage: true}) do
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {fullpage: true})
  main#fullpage
    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!

    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!
    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!
    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!
    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!
  javascript:
    InitMainPage();


