== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { title: 'MMStudio - Видеосъемка и виртуальные туры в Екатеринбурге' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self, {fullpage: true}) do
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {fullpage: true})
  main#fullpage
    section.section.main-page__section.main-page__section--top data-anchor="top" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.middle-xs.top-sm.start-xs.center-sm
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row
                .col-xs-12.col-sm-8.col-lg-9
                  .row
                    .col-xs-12.col-sm-9
                      h1.header-1 Видео
                    .col-xs-12.col-sm-3.hidden.visible-sm
                      span.line-after
                  .row.start-xs.end-sm
                    .col-xs-12
                      h1.header-1 Студия
                    
                .col-xs-12.col-sm-4.col-lg-3
                  .row.top-xs
                    .col-xs-12
                      div.subheader Видеосъемка<br/>и&nbsp;виртуальные 3D туры<br/>в&nbsp;Екатеринбурге
                      a.subheader__link.video-icon href="#" Смотреть презентацию
    section.section.main-page__section.main-page__section--services data-anchor="about-us" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.center-md
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row.start-xs
                .col-xs-12
                  h2.header-2.with-line-left О нас
                  p В нашей студии работают только высококвалифицированные специалисты с большим опытом работы, на счету у которых много роликов профессионального качества. Наши ребята не просто делают видео, они создают настоящее произведение искусства.
                  p При съемке видео мы используем самые современные технологии (гексакоптеры, электронные системы стабилизации изображения, глайдтреки и так далее), обеспечивая прекрасное качество видео и звука. Ни в одной нашей работе Вы не найдете дефектов записи.

    section.section.main-page__section.main-page__section--portfolio data-anchor="services" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.center-md
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row.start-xs
                .col-xs-12
                  h2.header-2.with-line-left Услуги
              .row
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/videofilming.html"
                    img src="images/service1.png"
                    section 
                      | Видеосъемка<br/>и&nbsp;аэросъемка
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/photographer_services.html"
                    img src="images/service2.png"
                    section 
                      | Услуги<br/>фотографа
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/scenario_creation.html"
                    img src="images/service3.png"
                    section
                      | Разработка<br/>сценария
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/video_editing.html"
                    img src="images/service4.png"
                    section
                      | Монтаж<br/>видео
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/3d-tours.html"
                    img src="images/service5.png"
                    section
                      | Виртуальные<br/>3D&nbsp;туры
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/radio_filming.html"
                    img src="images/service6.png"
                    section 
                      | Радио съемка

    section.section.main-page__section.main-page__section--reviews data-anchor="portfolio" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.center-md
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row.start-xs
                .col-xs-12
                  h2.header-2.with-line-left Портфолио
              article.portfolio
                .row.center-xs
                  .col-xs-12.col-sm-6.col-md-3
                    .portfolio__header Рекламный ролик
                    a.portfolio__item data-fancybox=true data-type="iframe" data-src="https://www.youtube.com/embed/5reFu007wBA"
                      img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg"
                      .portfolio__item__duration 2:56
                  .col-xs-12.col-sm-6.col-md-3
                    .portfolio__header Рекламный ролик
                    a.portfolio__item data-fancybox=true data-type="iframe" data-src="https://www.youtube.com/embed/5reFu007wBA"
                      img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg"
                      .portfolio__item__duration 2:56
                  .col-xs-12.col-sm-6.col-md-3
                    .portfolio__header Рекламный ролик
                    a.portfolio__item data-fancybox=true data-type="iframe" data-src="https://www.youtube.com/embed/5reFu007wBA"
                      img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg"
                      .portfolio__item__duration 2:56
                  .col-xs-12.col-sm-6.col-md-3
                    .portfolio__header Рекламный ролик
                    a.portfolio__item data-fancybox=true data-type="iframe" data-src="https://www.youtube.com/embed/5reFu007wBA"
                      img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg"
                      .portfolio__item__duration 2:56
              .row.center-xs
                a.button href="/all_videos.html" Смотреть все работы
    section.section.main-page__section.main-page__section--contacts data-anchor="reviews" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.center-md
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row.start-xs
                .col-xs-12
                  h2.header-2.with-line-left Отзывы
              .row.center-xs
                .col-xs-12.col-sm-6.col-md-3
                  figure.review__item
                    img src="images/review1.jpg"
                .col-xs-12.col-sm-6.col-md-3
                  figure.review__item
                    img src="images/review2.png"
                .col-xs-12.col-sm-6.col-md-3
                  figure.review__item
                    img src="images/review3.png"
                .col-xs-12.col-sm-6.col-md-3
                  figure.review__item
                    img src="images/review4.png"
    section.section.main-page__section.main-page__section--contacts data-anchor="contacts" fp-auto-height-responsive='true'
      .container
        .row.center-md
          .col-xs-12.col-sm-12.col-md-12.col-lg-9
            .row.start-xs
              .col-xs-12.col-md-7
                .row.start-xs
                  .col-xs-12
                    h2.header-2.with-line-left Контакты
                  .col-xs-12.col-sm-4.col-md-12
                    .contacts__address
                      .contacts__name Адрес
                      .contacts__value Россия, Екатеринбург, ул.Ленина 24
                  .col-xs-12.col-sm-4.col-md-12
                    .contacts__address
                      .contacts__name Телефон
                      .contacts__value +7 922 022 96 22
                  .col-xs-12.col-sm-4.col-md-12
                    .contacts__address
                      .contacts__name Email
                      .contacts__value info@mmvideostudio.ru
              .col-xs-12.col-md-5.end-md
                form.form
                  h2.form__header Оставить заявку
                  input.form__input type="text" placeholder="Ваше имя" required="true" name="name"
                  input.form__input type="tel" placeholder="Ваш телефон" required="true" name="phone"
                  input.form__submit type="submit" value="Отправить"
  javascript:
    InitMainPage();


