== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'photographer_services', title: 'Услуги фотографа' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do

  main.service-page
    .container
      .row.center-xs
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          h2.header-2.with-line-left.photographer_services__header.service-page__header Услуги фотографа
          p MMStudio оказывает все виды фотоуслуг в Екатеринбурге. 
          p Мы профессионально работаем в студии и на выезде. Оганизовываем весь съемочный процесс. 
          p Наш фотограф имеет свой неповторимый почерк. Он не просто создает фото, он вдыхает в них жизнь.
          p Мы предлагаем достаточно широкий перечень фото услуг:
          .row
            .col-xs-12.col-md-6
              ul
                li Love story фотосессия
                li Фотосессия беременных
                li Семейная фотосессия
                li Свадебная фотосессия
                li Модельная фотосессия
                li Студийная съемка
            .col-xs-12.col-md-6
              ul
                li Портретная съемка
                li Репортажная фотосъемка
                li Рекламная фотосъемка
                li Интерьерная съемка
                li Фотосъемка для сайта
          p Фотосессия 4 000 – 6 000 руб.  Час съемок - 2 000 руб.
          p Обработка-пакетная цветокоррекция 50 руб. фото. Ретушь 200 руб. фото
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          .row.middle-xs
            .col-xs-12.col-md-8.start-md
              a.button.background-white.fancybox href="#callback" Заказать услугу
              a.button href="portfolio.html" Смотреть портфолио
            .col-xs-12.col-md-4.end-md
              .service-page__price 2 000 руб/час


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)