== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'portfolio-page', title: 'Портфолио фотографа' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
  
  main
    .container
      .row
        .col-xs-12.col-lg-10
          h1.header-2 Портфолио фотосъемок
      .row.start-xs
        .col-xs-12.col-sm-6.col-md-3.col-lg
          a.portfolio-page__link href="/portfolio/lovestory.html"
            img src="images/portfolio1.jpg"
            section.portfolio-page__link__name Love story
        / .col-xs-12.col-sm-6.col-md-3.col-lg
        /   a.portfolio-page__link href="/portfolio/page1.html"
        /     img src="images/portfolio2.jpg"
        /     section.portfolio-page__link__name Беременные
        .col-xs-12.col-sm-6.col-md-3.col-lg
          a.portfolio-page__link href="/portfolio/family.html"
            img src="images/portfolio3.jpg"
            section.portfolio-page__link__name Семейная
        .col-xs-12.col-sm-6.col-md-3.col-lg
          a.portfolio-page__link href="/portfolio/wedding.html"
            img src="images/portfolio4.jpg"
            section.portfolio-page__link__name Свадебная
        .col-xs-12.col-sm-6.col-md-3.col-lg
          a.portfolio-page__link href="/portfolio/model.html"
            img src="images/portfolio5.jpg"
            section.portfolio-page__link__name Модельная
        / .col-xs-12.col-sm-6.col-md-3.col-lg
        /   a.portfolio-page__link href="/portfolio/page1.html"
        /     img src="images/portfolio6.jpg"
        /     section.portfolio-page__link__name Портретная 
        .col-xs-12.col-sm-6.col-md-3.col-lg
          a.portfolio-page__link href="/portfolio/reportage.html"
            img src="images/portfolio7.jpg"
            section.portfolio-page__link__name Репортажная
        .col-xs-12.col-sm-6.col-md-3.col-lg
          a.portfolio-page__link href="/portfolio/advertisment.html"
            img src="images/portfolio8.jpg"
            section.portfolio-page__link__name Рекламная
        / .col-xs-12.col-sm-6.col-md-3.col-lg
        /   a.portfolio-page__link href="/portfolio/page1.html"
        /     img src="images/portfolio9.jpg"
        /     section.portfolio-page__link__name Интерьерная
        .col-xs-12.col-sm-6.col-md-3.col-lg
          a.portfolio-page__link href="/portfolio/site.html"
            img src="images/portfolio10.jpg"
            section.portfolio-page__link__name Для сайта
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)