== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'radio_filming', title: 'Радиосъемка' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do

  main.service-page
    .container
      .row.center-xs
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          h2.header-2.with-line-left.radio_filming__header.service-page__header Радио съемка
          p Изготовление и оформление рекламных роликов, для :трансляции на радио, торговых центров, общественного транспорта. А также создание записей для автоответчиков и голосового приветствия: call-центрам, секретарям, компаниям. Профессиональная озвучка дикторским голосом для: презентаций, аудио-рекламы, корпоративных фильмов, телефонных автоответчиков.
          p В стоимость входит:
          ul
            li Создание эксклюзивного текста;
            li Дикторская озвучка
            li Добавление музыки
            li Создание звуковых эффектов
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          .row.middle-xs
            .col-xs-12.col-md-8.start-md
              a.button.background-white.fancybox href="#callback" Заказать услугу
              a.button.fancybox href="#callback" Консультация специалиста
            .col-xs-12.col-md-4.end-md
              .service-page__price от 1 000 руб


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)