== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'scenario_creation', title: 'Разработка сценария' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do

  main.service-page
    .container
      .row.center-xs
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          h2.header-2.with-line-left.scenario_creation__header.service-page__header Разработка сценария
          p В нашей студии, разработкой истории занимается специальный человек, сценарист. Для профессионального и быстрого создания сценария мы используем собственную методику. Разработка сценария для ролика - всегда творческая задача, плюс знания в области видеомаркетинга.
          p Этапы разработки сценария:
          ul
            li Заказчик заполняет бриф
            li Разработка темы
            li Согласование с заказчиком
            li Изучение темы, поиск информации.
            li Написание текста.
            li Утверждение сценария с заказчиком.
          p От 3 до 14 дней, в зависимости от объема (большие проекты, индивидуально).

        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          .row.middle-xs
            .col-xs-12.col-md-8.start-md
              a.button.background-white.fancybox href="#callback" Заказать услугу
            .col-xs-12.col-md-4.end-md
              .service-page__price от 35 000 руб


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)