== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'videofilming', title: 'Видео и аэросъемка' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do

  main.service-page
    .container
      .row.center-xs
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          h2.header-2.with-line-left.videofilming__header.service-page__header Видео и аэросъемка
          p Выезд на место съемки одного или нескольких видеооператоров, которые производят видеосъемку учитывая пожелания клиента. В среднем, изготовление видеоролика от момента съемки до сдачи готового видеоролика занимает 5 дней.Заказав видеосъемку вы получаете:
          ul
            li Написание сценария
            li Согласование деталей видеосъемки с клиентом
            li Профессиональная видеосъемка
            li Работа со звуком (озвучка, подбор музыки)
            li Видеомонтаж/цветокоррекция
            li Анимация/спецэффекты, добавление титров
          p Дополнительно: привлечение профессиональный актеров, моделей. Поиск и подготовка локации для съемок. Аренда дополнительного оборудования и инвентаря (автомобиль , костюмы, платья).
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          .row.middle-xs
            .col-xs-12.col-md-8.start-md
              a.button.background-white.fancybox href="#callback" Заказать услугу
              a.button.fancybox href="/portfolio.html" Смотреть работы
            .col-xs-12.col-md-4.end-md
              .service-page__price
                | от 6 000 руб
                span.icon-question.tooltip title="2 000 руб/час ( минимум 3 часа или 10 000 рублей )"


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)