== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'video_editing', title: 'Видео монтаж' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do

  main.service-page
    .container
      .row.center-xs
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          h2.header-2.with-line-left.video_editing__header.service-page__header Видео монтаж
          p Профессиональный монтаж видео - творческая деятельность, которая требует большой вовлеченности и креативного подхода. В нашей студии видеомонтажа за создание роликов отвечает видеомонтажер, специалист по работе с видеоматериалом. Он знает все этапы съемок, игры актеров, режиссуры и синхронизирует весь материал, работая в профессиональной программе.
          p Обработка видео любой тематики сложности:
          ul
            li Сценарий для монтажа;
            li Работа со цветом;
            li Работа со звуком, при необходимости профессиональная озвучка диктором;
            li Создание анимация и спецэффектов;
            li Титры, интро и т.п.;
            li Согласование с заказчиком, правки по необходимости;
            li Готовый ролик.
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          .row.middle-xs
            .col-xs-12.col-md-8.start-md
              a.button.background-white.fancybox href="#callback" Заказать услугу
            .col-xs-12.col-md-4.end-md
              .service-page__price от 5 000 руб


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)